.back-button{
  margin-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}
.search-result{
  margin-left: 4px;
  font-size: 18px;
  margin-right: 4px;
}
.next-button{
  margin-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}
.stretch-button{
  background-color:green;
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: padding-top 0.5s,padding-bottom 0.5s,
              padding-left 0.5s,padding-right 0.5s;
}
.stretch-button:hover{
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 36px;
  padding-right: 36px;
}
.shadow-button{
  background-color: green;
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.shadow-button:active{
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: none;
}
.num-button{
  background-color: green;
  color: white;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: padding 0.15s,margin 0.15s;
}
.num-button:hover{
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;
}