.tahoma-font{
  font-family: Tahoma;
  font-weight: bold;
  font-size: 25px;
}
.promo-text{
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}
.deadline-text{
  font-family: Arial;
  color: red;
  font-style: italic;
  font-size: 14px;
  margin-top: 0px;
}
.course-info{
  font-family: Verdana;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 2px;
}
.goal-info{
  font-family: Verdana;
  font-size: 12px;
  color: rgb(105, 102, 102);
  margin-top: 0px;
  margin-bottom: 14px;
}
.about-info{
  font-family: Verdana;
  font-size: 12px;
  width: 230px;
  margin-top: 0px;
  margin-bottom: 18px;
}
.start-button{
  background-color: green;
  border: none;
  color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  margin-top: 0px;
}
.shopping{
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
.help{
  font-family: Arial;
  font-size: 12px;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.learn-more{
  color: blue;
  font-size: 15px;
  margin-left: 100px;
  margin-top: 0px;
}