.google-logo{
  width: 150px;
  height: 100px;
  margin-bottom: 4px;
  
}

.input-search{
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-top: 0px;
  margin-bottom: 25px;
}

div{
  text-align: center;
}

button{
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(228, 222, 222);
  border: none;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
}