div{

  font-family: Arial;
  
}
.grid{
  border-width: 1px;
  border-radius: 6px;
   border-style: solid;
   border-color: rgb(200, 200, 200);
   width: 300px;
}

.flex-home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.home-button{
  background-color: rgb(49, 109, 245);
  color: white;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.notification-button{
  background-color: rgb(49, 109, 245);
  color: white;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.message-button{
  background-color: rgb(49, 109, 245);
  color: white;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}