.email-text{
  font-family: Arial;
  font-size: 12px;
  color: rgb(70, 70, 70);
  margin-bottom: 5px;
}
.input-text{
  border-radius: 3px;
  width: 290px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: rgb(128, 124, 124);
  border-style: solid;
  margin-top: 0px;
}
.info-text{
  font-family: Arial;
  font-size: 12px;
  margin-top: 15px;
  color: rgb(71, 71, 71);
  margin-bottom: 15px;
}
.agree-button{
  background-color: blue;
  color: white;
  border: none;
  width: 290px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  opacity: 0.8;
  margin-top: 0px;
  cursor: pointer;
}